@use '/src/sass/variables' as v;
@use '/src/sass/mixins' as m;

.home {
    height: 100%;    
    background-image: radial-gradient(circle farthest-corner at 25% 80%, #302519, v.$colorTerciary, v.$colorTerciary);         
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    @include m.movil {
        background-image: radial-gradient(circle farthest-corner at 15% 75%, #302519, v.$colorTerciary, v.$colorTerciary);         
    }
    &.bannerOff {
        overflow: hidden;
        height: 100vh;
    }
    &.isActive {
        pointer-events: none;
    }
    &__container {
        width: v.$maxwidth;        
        padding: 1rem;
    }
    &__form-btn {              
        width: 25em; 
        @include m.pc {
            margin: 1.5em 0 2.5em 0;
            border: 1px solid v.$colorSecondary;
            width: 35em;
            border-radius: 1em;
            padding: .8em 0;                
            color: v.$colorSecondary;
            @include m.selector;
            &:active {
                background-color: v.$colorSecondary;
                span {
                    color: #fff;
                }
            }
        }
        @include m.movil {
            width: 100%;            
            display: flex;
            justify-content: center;            
        }
        @include m.tablet {
            width: 100%;
            display: flex;
            justify-content: center;
        }
        &-container {
            display: flex;
            justify-content: center;
            @include m.pc {
                width: 100%;
            }
            @include m.tablet {
                width: 100%;
                margin: 1.5em 0 2.5em 0;
                max-width: 35em;
                border: none;
                border-radius: 1em;
                padding: .8em 0;
                color: v.$colorSecondary;
                @include m.selector;
                &:active {
                    background-color: v.$colorSecondary;
                    span {
                        color: #fff;
                    }
                }
            }                      
            @include m.movil {
                margin: 1.5em 0 2.5em 0;
                border: none;
                border-radius: 1em;
                padding: .8em 0;
                color: v.$colorSecondary;
                @include m.selector;
                &:active {
                    background-color: v.$colorSecondary;
                    span {
                        color: #fff;
                    }
                }
            }
        }
    }
}

.form {
    &__info-container {
        display: flex;   
        @include m.movil {
            flex-flow: row wrap;
        }     
        @include m.tablet {
            flex-flow: row wrap;
        }
    }
    &__personal {
        width: 50%;
        @include m.pc {
            width: 50%;            
            padding: 0 1em 0 0;       
        }
        @include m.tablet {
            padding: 0;
            width: 100%;
        }
        @include m.movil {
            padding: 0;
            width: 100%;
        }
    }
    &__artistic {
        width: 50%;
        @include m.pc {
            width: 50%;                    
        }
        @include m.movil {
            width: 100%;
            margin:  5em 0 0 0;
        }
        @include m.tablet {
            width: 100%;
            margin: 5em 0 0 0;            
        }
    }    
    &__field {
        &-content {
            width: 90%;
            margin: 0 0 1em 0;
            @include m.pc {
                max-width: 35em;
                width: 100%;
            }
            @include m.tablet {
                width: 100%;
                max-width: 35em;
            }
            @include m.movil {
                width: 100%;                
            }            
        }
        &-input {            
            border: 1px solid #fff;
            border-radius: .5em;
            padding: .7em .5em;
            width: 100%;
            outline: none;  
            &1 {                
                padding: .7em 0;
                @include m.pc {                    
                    width: 100%;
                }
                @include m.movil {                    
                    width: 15em;
                }
            }                               
        }
    }
    
    textarea {
        border: 1px solid #fff;
        border-radius: .5em;
        height: 8em;
        width: 100%;
        padding: .7em .5em; 
        resize: none;
        outline: none;
    }
    &__title {
        font-size: v.$font-h3;
        padding: 1em 0 1.5em 0;
    }
}

.button2 {
    width: 100%;
}
@media (hover: hover) {
    .button2 {
        pointer-events: auto;
        cursor: pointer;
        background: v.$colorSecondary;
        border: none;
        padding: .6em 3.5em;
        margin: 0;
        font-family: inherit;
        font-size: inherit;
        position: relative;
        display: inline-block;
        &:hover {
            span {
                color: #fff;
            }
        }
    }
    
    .button2::before,
    .button2::after {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    
    .button2--pan {        
        font-weight: 700;
        border: 2px solid v.$colorSecondary;
        border-radius: 1em;
        overflow: hidden;
        color: v.$colorSecondary;
    }
    
    .button2--pan span {
        position: relative;
        color: v.$colorSecondary;
        letter-spacing: 2px;
        font-family: 'reg';
    }
    
    .button2--pan::before {
        content: '';
        background: v.$colorTerciary;
        transition: transform 0.3s cubic-bezier(0.7, 0, 0.2, 1);
    }
    
    .button2--pan:hover::before {
        transform: translate3d(0,-100%,0);
    }
}


