@font-face {
    font-family: 'ob';    
    font-weight: 400;    
    src: url('/src/fonts/Obviously-Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'reg';    
    font-weight: 400;    
    src: url('/src/fonts/regular.woff2') format('woff2');
}

@font-face {
    font-family: 'obw';    
    font-weight: 400;    
    src: url('/src/fonts/Obviously-Wide_Semibold.woff2') format('woff2');
}